.banner h1 {
    color: red;
}

.banner .btn {
    background-color: red;
    color: white;
    border: 1px solid black;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

.banner .btn:hover {
    background-color: darkred;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main-header {
    background-image: url("images/xray.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.main-header h2 {
    margin-top: 20vh;
    font-size: 2em;
    color: white;
    text-shadow: 2px 3px 2px black;
}

.main-header .btn {
    margin-top: 10px;
    background-color: red;
    color: white;
    border: 1px solid black;
    width: 100%;
}

.main-header .btn:hover {
    background-color: darkred;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main-content {

}

.main-content .panel-body {
    height: 175px;
}


.seattle-header {
    background-image: url("images/seattle2.jpg");
    height: 25vh;
}

.city-header {
    margin-top: 1vh;
    min-height: 25vh !important;
}

.city-header h1 {
    margin-top: 3vh;
    margin-left: 5vh;
}
.header-text {
    color: white;
    margin-bottom: 6vh;
    margin-left: 5vh;
    max-width: 15em;
}
.topBar {
    height: 3em;
}

.topBar h4 {
    text-align: center;
    color: red;
    font-weight: bold;
}

.topBar button {
    margin-top: 17vh;
}

.single-bu-image {
    height: 250px;
    width: 250px;
    min-width: 250px;
    min-height: 250px;
    display: inline-block;
}

.single-bu-container {
    position: relative;
    margin-bottom: 3em;
}

.single-bu-textcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
}

.single-bu-overlay {
    color: white;
    text-align: center;
}

.region {
    height: 300px;
    vertical-align: middle;
    line-height: 300px;
    color: white;
    text-align: center;
    font-size: 3.5em;
    text-shadow: 2px 3px 2px black;
    margin-bottom: 10px;
}

#slc {
    background-image: url(images/saltlakecity-winter-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 3px solid white;
    border-left: 3px solid white;
}

#phx {
    background-image: url(images/phoenix-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

#sea {
    background-image: url(images/seattle-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 3px solid white;
    border-left: 3px solid white;
}

#nyc {
    background-image: url(images/nyc-liberty-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 3px solid white;
    border-right: 3px solid white;
}


/*//devin*/


body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background: #DAE3E7;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 700;
  color: #778492;
}
a {
  color: #3AAA64;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family:arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #FF0000;
  border: 1px solid #FF0000;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #000000;
  border: 1px solid #FF0000;
  color: #fff;
}
/* ======= Header ======= */
.header {
  padding: 30px 0;
  background: #f5f5f5;
  
}
.header .btn {
  margin-top: 20px;
  font-weight: bold;
}
.header .profile-image {
  margin-right: 30px;
}
.header .profile-content .name {
  color: #000000;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}

/* ======= Sections======= */
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section {
  margin-bottom: 30px;
}
.section .section-inner {
  background: #fff;
  padding: 30px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #000000;
  font-size: 24px;
}
.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}


/* Latest Section */
.latest .item {
  margin-bottom: 30px;
}
.latest .item .title {
  font-size: 18px;
  margin-top: 0;
}

.latest .item .title a {
  color: #778492;
}


.latest .divider {
  margin-bottom: 60px;
}
.latest .featured {
  margin-bottom: 60px;
}
.latest .featured .title {
  margin-bottom: 5px;
  font-size: 20px;
}

.latest .featured img {
  margin-bottom: 30px;
}
.latest .featured .desc {
  margin-bottom: 30px;
}
.latest .featured-image {
  position: relative;
}



/* Info Section */
.info .fa {
  margin-right: 15px;
  color: #ccd1d6;
}
.info .fa.fa-envelope-o {
  font-size: 14px;
}
.info ul {
  margin-bottom: 0;
}
.info li {
  margin-bottom: 15px;
}
.info li:last-child {
  margin-bottom: 0;
}

/* List section */
.list ul li {
  margin-bottom: 10px;
}
.list ul li .fa {
  margin-right: 5px;
}
.list ul li a {
  color: #778492;
}
.list ul li a:hover {
  color: #49515a;
}


/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header {
    text-align: center;
  }

  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  .header .btn {
    margin-top: 30px;
    float: none !important;
	text-align: center;
  }
  
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}

