.main-header {
    background-image: url("images/fightclub-mainview.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.main-header h1 {
    color: white;
    margin-top: 20vh;
    font-size: 3em;
    text-shadow: 3px 5px 4px black;
}

.main-content {
    margin-top: 3vh;
}

.main-content .panel-body {
    height: 175px;
}