.main-header {
    background-image: url("images/fightclub-mainview.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.main-header h1 {
    color: white;
    margin-top: 20vh;
    font-size: 3em;
    text-shadow: 3px 5px 4px black;
}

.main-content {
    margin-top: 3vh;
}

.main-content .panel-body {
    height: 175px;
}

.seattle-header {
    background-image: url("images/seattle2.jpg");
    height: 25vh;
}

.city-header {
    margin-top: 1vh;
}

.city-header h1 {
    margin-top: 3vh;
    margin-left: 5vh;
}
.header-text {
    color: white;
    margin-bottom: 6vh;
    margin-left: 5vh;
    max-width: 15em;
}
.topBar {
    height: 3em;
}

.topBar h4 {
    text-align: center;
    color: red;
    font-weight: bold;
}

.topBar button {
    margin-top: 17vh;
}
