<div class="conatainer">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 style="text-align:center">New Member?<br><small>Sign Up Now!</small></h2>
                </div>
                <div class="panel-body">
                    <label for="name">Name:</label>
                    <input class="form-control" type="text" ng-model="newUser.name" required>
                    <label for="username">Screen Name:</label>
                    <input class="form-control" type="text" ng-model="newUser.username" required>
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" ng-model="newUser.password">
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default form-control">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>