<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 style="text-align:center">Already A Member?<br><small>Sign In Here</small></h2>
                </div>
                <div class="panel-body">
                    <label for="username">User Name</label>
                    <input class="form-control" ng-model="user.username" type="text">
                    <label for="password">Password</label>
                    <input class="form-control" ng-model="user.password" type="password">
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default form-control">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</div>