<div class="primary col-md-12 col-sm-12 col-xs-12" ng-show="goMake">
	<div class="form-group row">
		<label class="col-xs-2 col-form-label">Event Name</label>
		<div class="col-xs-10">
			<input class="form-control" type="text" ng-model="newBeatup.name">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-xs-2 col-form-label">Description</label>
		<div class="col-xs-10">
			<input class="form-control" type="text" ng-model="newBeatup.description">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-xs-2 col-form-label">Street</label>
		<div class="col-xs-10">
			<input class="form-control" type="text" ng-model="newBeatup.location.street">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-xs-2 col-form-label">City</label>
		<div class="col-xs-10">
			<input class="form-control" type="text" ng-model="newBeatup.location.city">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-xs-2 col-form-label">State</label>
		<div class="col-xs-10">
			<input class="form-control" type="text" ng-model="newBeatup.location.state">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-xs-2 col-form-label">Region</label>
		<div class="col-xs-10">
			<input class="form-control" type="text" ng-model="newBeatup.region">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-xs-2 col-form-label">Event Picture</label>
		<div class="col-xs-10">
			<input class="form-control" type="text" ng-model="newBeatup.imgUrl"><br>
			<a class="btn btn-cta-primary" target="_blank" ng-click="addEvent(); goMake = !goMake">Create</a>
		</div>
</div>
