<div class="row topBar">
    <h4>Meetup Beatup</h4>
<div>
<div class="container-fluid main-header {{cityHeaderClass}}">
    <div class="row">
        <div class="col-sm-4 city-header">
            <h1>{{cityName}}</h1>
            <p class="header-text">{{pText}}</p>
        </div>
        <div class="col-sm-4 text-center">
            <button class="btn btn-md btn-danger">Create a beatup</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<div class="container main-content">
    <div class="row">
        <div class="col-xs-2 col-sm-1">
            <a href="#/login">Login</a>
        </div>
        <div class="col-xs-3 col-sm-2">
            <a href="#/signup">Sign Up</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive center-block" src="images/saltlakecity-winter-min.jpg">
                </div>
                <div class="panel-footer">
                    <h3 style="text-align:center">S.L.C</h3>
                </div>
            </div>
        </div>
    </div>
</div>
