<header class="header">
	<div class="container">

		<div class="profile-content pull-left">
			<h1 class="name">{{event.name}}</h1>
			<a class="btn btn-cta-primary pull-right" target="_blank" ng-click="joinEvent()">Join Meetup</a>

		</div>
		<!--//profile-->
	</div>
	<!--//container-->
</header>
<!--//header-->

<div class="container sections-wrapper">
	<div class="row">
		<!--//primary-->
		<div class="secondary col-md-4 col-sm-12 col-xs-12">
			<aside class="info aside section">
				<div class="section-inner">
					<h2 class="heading sr-only">Information</h2>
					<div class="content">
						<ul class="list-unstyled">
							<li><i class="fa fa-map-marker"></i><span class="sr-only">Street:</span>{{event.location.street}}</li>
							<li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span><a href="">{{event.location.city}},  {{event.location.state}}</a></li>
							<li><i class="fa fa-map-marker"></i><span class="sr-only">Region:</span><a href="#">Region: {{event.region}}</a></li>
						</ul>
					</div>
					<!--//content-->
				</div>
				<!--//section-inner-->
			</aside>
			<!--//aside-->

			<aside class="skills aside section">
				<div class="section-inner">
					<h2 class="heading">Google Maps Area</h2>
					<div class="content">
						<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
							<ng-map center="41,-87" zoom="3"></ng-map>
						</div>


					</div>
					<!--//content-->
				</div>
				<!--//section-inner-->
			</aside>
			<!--//section-->


			<aside class="list aside section">
				<div class="section-inner">
					<h2 class="heading">Members</h2>
					<div class="content">
						<ul class="list-unstyled" ng-repeat="member in event.members">
							<li><i class="fa fa-user"></i> <a href="">{{member}}</a></li>

						</ul>
					</div>
					<!--//content-->
				</div>
				<!--//section-inner-->
			</aside>
			<!--//section-->


		</div>
		<div class="primary col-md-8 col-sm-12 col-xs-12">
			<section class="about section">
				<div class="section-inner">
					<h2 class="heading">About</h2>
					<div class="content">
						<p>{{event.description}}</p>

					</div>
					<!--//content-->
				</div>
				<!--//section-inner-->
			</section>
			<!--//section-->

			<section class="latest section">
				<div class="section-inner">
					<h2 class="heading">Discussion</h2>
					<div class="content">



						<div class="item row" ng-repeat="comment in event.comments">
							<div class="col-md-1 col-sm-1 col-xs-1" href="" target="_blank">
								<i class="fa fa-user"></i>
							</div>
							<div class="desc col-md-11 col-sm-11 col-xs-11">
								<h3 class="title"><a href="" target="_blank">{{comment.owner}}</a></h3>
								<p>{{comment.content}}</p>

							</div>
							<!--//desc-->

						</div>
						<!--//item-->
						<br>
						<input type="text" placeholder=" say something ..." size="40" class="comment-input" ng-model="comment.content">
						<a class="btn btn-cta-primary" target="_blank" ng-click="addComment()">Post</a>
			</section>
			<!--//section-->



			</div>
			<!--//secondary-->
			</div>
			<!--//row-->
		</div>
		<!--//masonry-->