<div class="container-fluid main-header">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center">Welcome To Beat Up Meet Up!<br />
                <small>RULE #1: DO NOT SPEAK ABOUT BEAT UP MEET UP</small></h1>
        </div>
    </div>
</div>
<div class="container main-content">
    <div class="row">
        <div class="col-xs-2 col-sm-1">
            <a href="#/login">Login</a>
        </div>
        <div class="col-xs-3 col-sm-2">
            <a href="#/signup">Sign Up</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive center-block" src="images/saltlakecity-winter-min.jpg">
                </div>
                <div class="panel-footer">
                    <h3 style="text-align:center">S.L.C</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive center-block" src="images/phoenix-min.jpg">
                </div>
                <div class="panel-footer">
                    <h3 style="text-align:center">Phoenix</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive center-block" src="images/seattle-min.jpg">
                </div>
                <div class="panel-footer">
                    <h3 style="text-align:center">Seattle</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive center-block" src="images/nyc-liberty-min.jpg">
                </div>
                <div class="panel-footer">
                    <h3 style="text-align:center">NYC</h3>
                </div>
            </div>
        </div>
    </div>
</div>