<div class="container-fluid banner">
    <div class="row">
        <div class="col-xs-0 col-sm-2"></div>
        <div class="col-xs-9 col-sm-8 col-md-9">
            <h1 style="text-align:center">beatup meetup</h1>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1">
            <button class="btn btn-lg" ng-click="goToLogin()">Login</button>
        </div>
    </div>
</div>
<div class="container-fluid main-header">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align:center">RULE #1: YOU DO NOT TALK ABOUT BEAT UP MEET UP</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-md-5"></div>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
            <button class="btn btn-lg" ng-click="goToRegister()">Register</button>
        </div>
    </div>
</div>
<div class="container-fluid main-content">
    <div class="row">
        <div class="col-xs-12">
            <h3 style="text-align:center">REGIONS</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3 region" id="slc">
            SLC
        </div>
        <div class="col-sm-6 col-md-3 region" id="phx">
            PHX
        </div>
        <div class="col-sm-6 col-md-3 region" id="sea">
            SEA
        </div>
        <div class="col-sm-6 col-md-3 region" id="nyc">
            NYC
        </div>
    </div>
</div>
