<div class="container-fluid banner">
    <div class="row">
        <div class="col-xs-0 col-sm-2"></div>
        <div class="col-xs-9 col-sm-8 col-lg-9">
            <h1 style="text-align:center">beatup meetup</h1>
        </div>
        <div class="col-xs-3 col-sm-2 col-lg-1">
            <button class="btn btn-lg" ng-click="logout()">Logout</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading">
                    <h2 style="text-align:center">{{user.username}}</h2>
                    Profile Pic?
                </div>
                <div class="panel-body">
                    user info? bio? Anything?
                </div>
                <div class="panel-footer">
                    <h4 style="text-align:center">Your Events</h4>
                    <ul ng-repeat="event in userevents">
                        <hr>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel">
                <div class="panel-heading">
                    <h2 style="text-align:center">Select A Region </h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <a href=""><div class="col-xs-6 col-md-3 region" id="slc">
                            SLC
                        </div></a>
                        <a href=""><div class="col-xs-6 col-md-3 region" id="phx">
                            PHX
                        </div></a>
                        <a href="#/cityview"><div class="col-xs-6 col-md-3 region" id="sea">
                            SEA
                        </div></a>
                        <a href=""><div class="col-xs-6 col-md-3 region" id="nyc">
                            NYC
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>